In [3]:
import pandas as pd
import numpy as np

# 1. Create a Dataframe

In [4]:
df1=pd.DataFrame([1,2,3],[4,5,6])
df1

   0
4  1
5  2
6  3

In [5]:
df2=pd.DataFrame([[1,2,3],[4,5,6]])
df2

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
df2=pd.DataFrame([[1,2,3],[4,5,6]], index = ['row1','row2'],columns = ['c1','c2','c3'])
df2

      c1  c2  c3
row1   1   2   3
row2   4   5   6

In [11]:
dates = pd.date_range('2021-06-16', periods =7)
df3 = pd.DataFrame(np.random.randn(7,4),index =dates, columns = list('abcd'))
df3

                   a         b         c         d
2021-06-16  1.389793  0.230521  0.019449  0.451136
2021-06-17 -0.223007 -0.217701  0.113344 -1.432367
2021-06-18 -0.290619  2.134593  0.517200 -1.121160
2021-06-19 -1.882813  0.501795 -0.529008  0.983127
2021-06-20 -0.238288  0.768642 -0.757484 -0.304800
2021-06-21  0.132312 -1.370077  2.584691 -0.007247
2021-06-22 -1.174735 -0.903641  0.079501  0.743636

In [13]:
df4 = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
df4

   a  b
0  1  4
1  2  5
2  3  6

In [14]:
df5 = pd.DataFrame({'Beijing':{'2017':1,'2018':2},'Shanghai':{'2017':1,'2018':2}})
df5

      Beijing  Shanghai
2017        1         1
2018        2         2

In [17]:
a1 = pd.Series(range(5))
b1 = pd.Series(np.linspace(4,20,5))
df6 = pd.concat([a1,b1],axis = 1)
df6

   0     1
0  0   4.0
1  1   8.0
2  2  12.0
3  3  16.0
4  4  20.0

In [24]:
df7=pd.DataFrame()
index = list('abcde')
for i in range(5):
    a2 = pd.DataFrame([np.linspace(i,5*i,5)], index = [index[i]])
    df7 = df7.append(a2)
df7

     0    1     2     3     4
a  0.0  0.0   0.0   0.0   0.0
b  1.0  2.0   3.0   4.0   5.0
c  2.0  4.0   6.0   8.0  10.0
d  3.0  6.0   9.0  12.0  15.0
e  4.0  8.0  12.0  16.0  20.0

In [26]:
print(df7.iloc[0])
print(df7.iloc[:,[0]])

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: a, dtype: float64
     0
a  0.0
b  1.0
c  2.0
d  3.0
e  4.0

In [29]:
print(df7.loc['a'])
print(df7.loc[:,[0]])

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: a, dtype: float64
     0
a  0.0
b  1.0
c  2.0
d  3.0
e  4.0

In [33]:
print(df7.iat[2,3])
print(df7.at['d',3])

8.0
12.0

In [34]:
# Pandas 的 data frame 資料結構有一些方法或屬性

import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

print(select_df.shape) # 回傳列數與欄數  
print("---")  
print(select_df.describe()) # 回傳描述性統計  
print("---")  
print(select_df.head(3)) # 回傳前三筆觀測值  
print("---")  
print(select_df.tail(3)) # 回傳後三筆觀測值  
print("---")  
print(select_df.columns) # 回傳欄位名稱  
print("---")  
print(select_df.index) # 回傳 index  
print("---")  
print(select_df.info) # 回傳資料內容

(6, 2)
---
             num
count   6.000000
mean   23.666667
std    22.393451
min     6.000000
25%     9.000000
50%    12.000000
75%    37.500000
max    58.000000
---
   groups  num
0  Movies   46
1  Sports    8
2  Coding   12
---
    groups  num
3  Fishing   12
4  Dancing    6
5  cooking   58
---
Index(['groups', 'num'], dtype='object')
---
RangeIndex(start=0, stop=6, step=1)
---
<bound method DataFrame.info of     groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58>

In [35]:
# Pandas 透過使用中括號 [] 與 .iloc 可以很靈活地從 data frame 中選擇想要的元素
# Python 在指定 0:1 時不包含 1，在指定 0:2 時不包含 2

import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
       }

select_df = pd.DataFrame(dict)

print(select_df.iloc[0, 1]) # 第一列第二欄：組的人數  
print("---")  
print(select_df.iloc[0:1,:]) # 第一列：組的組名與人數  
print("---")  
print(select_df.iloc[:,1]) # 第二欄：各組的人數  
print("---")  
print(select_df["num"]) # 各組的人數  
print("---")  
print(select_df.num) # 各組的人數

46
---
   groups  num
0  Movies   46
---
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64
---
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64
---
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64

In [36]:
import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }

select_df = pd.DataFrame(dict)

out_df = select_df[select_df.loc[:,"num"] > 10] # 選出人數超過 10 的群組  
print(out_df)

    groups  num
0   Movies   46
2   Coding   12
3  Fishing   12
5  cooking   58

In [37]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

select_df.sort_index(axis = 0, ascending = True) # 透過索引值做排序，axis 可以指定第幾欄，ascending 用於設定升冪或降密

    groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58

In [38]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

select_df.sort_values(by = 'num') #透過指定欄位的數值排序

    groups  num
4  Dancing    6
1   Sports    8
2   Coding   12
3  Fishing   12
0   Movies   46
5  cooking   58

2 DataFrame 的操作
❖ 資料描述查看
可以透過下列方法查看目前資料的資訊

.shape
.describe()
.head()
.tail()
.columns
.index
.info()
 資料選擇與篩選
可以透過下列方法選擇元素

中括號 [] 選擇元素
. 將變數當作屬性選擇
.loc .iloc 方法選擇
使用布林值篩選

 資料排序
可以使用的方法如下：

.sort_index()
.sort_values()


3 DataFrame 處理遺漏值
❖ 判斷是否為空值
可以使用下列兩種方法來判斷：

isnull()
notnull()

❖ 處理空值
可以使用下列兩種方法來填補空值：

dropna()
fillna()